@use 'variables' as var;

/*! purgecss start ignore */

/* PrismJS 1.17.1
https://prismjs.com/download.html#themes=prism-tomorrow&languages=markup+css+clike+javascript+bash+markup-templating+git+go+graphql+php+markdown+powershell+jsx+yaml+toml&plugins=toolbar */
/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */

 code {
  font-family: var.$monospaced;
  background: var.$blueLightCode;
  @media screen and (prefers-color-scheme: dark) {
    background: var.$code-bkgd-dark-mode;
  }
}

code[class*="language-"],
pre[class*="language-"] {
  color: hsl(0, 0%, 80%);
  background: none;
  font-family: var.$monospaced;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;

}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"], pre[class*="language-"] {
  background: hsl(220, 4%, 16%);
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: hsl(0, 0%, 70%);
}

.token.punctuation {
  color: hsl(240, 5%, 84%);
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
  color: hsl(7, 100%, 77%);
}

.token.function-name {
  color: hsl(210, 52%, 72%); /* was 6196cc */
}

.token.boolean,
.token.number,
.token.function {
  color: hsl(24, 85%, 68%); /* was f08d49 */
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
  color: hsl(41, 92%, 65%);
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  color: hsl(315, 91%, 77%); /* was cc99cd */
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
  color: hsl(153, 66%, 64%); /* was 7ec699 */
}

.token.operator,
.token.entity,
.token.url {
  color: hsl(179, 50%, 60%);
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.inserted {
  color: hsl(120, 100%, 25%);
}

div.code-toolbar {
  position: relative;
}

div.code-toolbar > .toolbar {
  position: absolute;
  top: .3em;
  right: .2em;
  opacity: 1;
}

div.code-toolbar:hover > .toolbar {
  opacity: 1;
}

/* Separate line b/c rules are thrown out if selector is invalid.
   IE11 and old Edge versions don't support :focus-within. */
div.code-toolbar:focus-within > .toolbar {
  opacity: 1;
}

div.code-toolbar > .toolbar .toolbar-item {
  display: inline-block;
  span {
    color: hsl(0, 0%, 100%);
  }
}

div.code-toolbar > .toolbar a {
  cursor: pointer;
}

div.code-toolbar > .toolbar button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  user-select: none; /* for button */
}

div.code-toolbar > .toolbar a,
div.code-toolbar > .toolbar button,
div.code-toolbar > .toolbar span {
  color: hsl(0, 0%, 100%);// was #bbb
  font-size: .8em;
  padding: 0 .5em;
  background: #000;
  box-shadow: 0 2px 0 0 hsla(0, 0%, 0%, 0.2);
  border-radius: .5em;
}

div.code-toolbar > .toolbar a:hover,
div.code-toolbar > .toolbar a:focus,
div.code-toolbar > .toolbar button:hover,
div.code-toolbar > .toolbar button:focus,
div.code-toolbar > .toolbar span:hover,
div.code-toolbar > .toolbar span:focus {
  color: inherit;
  text-decoration: none;
}

/*! purgecss end ignore */