{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    [
      "prismjs", {
        "languages": [
          "bash",
          "go",
          "http",
          "javascript",
          "jsx",
          "css",
          "scss",
          "markup",
          "markdown",
          "rss",
          "yml"
        ],
        "plugins": [
          "show-language"
        ]
      }
    ]
  ]
}