---
title: singlepost.njk
layout: layouts/_default/base.njk
---

<main>

  {% include 'layouts/partials/billboard.njk' %}

  <div class="mr-auto ml-auto px-6" style="max-width: 60ch;">
    <div class="mr-auto ml-auto border-b-2 border-blue-700 dark:border-white w-5/12"></div>
    <article class="article">
      {{ content | safe }}
    </article>
  </div>

  {% if title != "The obligatory About Me page" %}
  {% include 'layouts/partials/fastcomments.njk' %}
  <div class="w-full px-8 md:px-0 bg-blue-700 align-middle mt-10 mb-10">
    <h3 class="text-center text-3xl tracking-normal mb-2 pt-2"><a href="/posts" class="border-transparent text-blue-100 hover:text-white">Other posts</a></h3>
  {% if nextPost.url %}
    <p class="text-center my-2 text-xl text-white leading-tight tracking-tight">
      <strong>Next</strong>: 
      <a class="border-transparent text-blue-100 hover:text-white hover:border-blue-100" href={{ nextPost.url }}>{{ nextPost.data.title }}</a>
    </p>
  {% endif %}
  {% if prevPost.url %}
    <p class="text-center pb-4 my-2 text-xl text-white leading-tight tracking-tight">
      <strong>Previous</strong>: 
      <a class="border-transparent text-blue-100 hover:text-white hover:border-blue-100" href={{ prevPost.url }}>{{ prevPost.data.title }}</a>
    </p>
  {% endif %}
  </div>
  {% endif %}
