---
title: singlepost
layout: base
---

<main>
  {%- if featured_image -%}
  <div class="relative overflow-hidden w-full bg-blue-900 dark:bg-black h-[80vh] max-h-[80vh] min-h-[80vh] md:h-[85vh] md:max-h-[85vh] md:min-h-[85vh] xl:h-[95xh] xl:max-h-[95vh] xl:min-h-[95vh]">
    {%- imgc featured_image, featured_image_alt, featured_image_width, featured_image_height, "posts" -%}
    <div class="block w-full absolute bottom-0 px-4 md:px-12 lg:px-16 pt-3 pb-6 bg-gradient-to-t from-black">
  {%- else -%}
  <div class="relative overflow-hidden w-full bg-gradient-to-b from-blue-700 via-black to-blue-700 dark:from-black dark:via-blue-700 dark:to-black h-[80vh] max-h-[80vh] min-h-[80vh] md:h-[85vh] md:max-h-[85vh] md:min-h-[85vh] xl:h-[95xh] xl:max-h-[95vh] xl:min-h-[95vh]">
    <div class="block w-full absolute bottom-0 px-4 md:px-12 lg:px-16 pt-3 pb-6">
  {%- endif -%}
      <div class="background-hero-title-text">
        <h1 class="text-center text-4xl md:text-left md:text-5xl lg:text-6xl 2xl:text-7xl tracking-tight leading-tight mb-6 px-4 md:px-0 text-white">{{ title }}</h1>
        <h2 class="text-center text-2xl md:text-left md:text-3xl lg:text-4xl 2xl:text-5xl leading-tight tracking-tight px-6 md:px-0 text-white">
          {% if subtitle %}
            {{ subtitle | safe }}
          {% else %}
            &nbsp;
          {% endif %}
        </h2>
        <p class="font-sans hidden not-italic md:block md:text-2xl md:text-left tracking-tight mt-8 mb-6 text-white">{{ description }}</p>
        <p class="font-sans text-base text-center px-4 md:text-right md:px-0 mt-4 md:mt-0 mb-0 text-white">
          <strong class="text-lg md:text-xl 2xl:text-2xl">{{ page.date | htmlDateString }}</strong><br />
          <span class="text-sm">
          {% if lastmod %}
          <span>Last modified</span> {{ lastmod | htmlDateString }}
          {% else %}
          &nbsp;
          {% endif %}
          </span>
        </p>
        <p class="font-sans text-center text-white text-xs mt-4 mb-0 md:mb-1 pb-1">
        {% if featured_image_caption %}
          {{ featured_image_caption | safe }}
        {% else %}
          &nbsp;
        {% endif %}
        </p>
      </div>
    </div>
  </div>

  <div class="sm:w-5/6 md:w-4/5 lg:2/3 xl:w-7/12 mt-10 mr-auto ml-auto px-6 lg:px-16">
    <article class="article">
      {{ content | safe }}
      <div class="text-center py-4">
        <button class="bg-blue-600 hover:bg-blue-400 active:bg-blue-400 focus:bg-blue-400 dark:bg-blue-200 dark:hover:bg-blue-100 dark:active:bg-blue-100 dark:focus:bg-blue-100 rounded-md p-4">
          <a class="text-white hover:text-white active:text-white focus:text-white dark:text-black dark:hover:text-black dark:active:text-black dark:focus:text-black border-transparent hover:border-transparent" href="mailto:bw@brycewray.com?subject=Re: “{{ title }}”">
            <svg aria-hidden="true" class="inline" role="img" height="2em" width="2em" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path fill="currentColor" d="M464 64H48C21.49 64 0 85.49 0 112v288c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V112c0-26.51-21.49-48-48-48zm0 48v40.805c-22.422 18.259-58.168 46.651-134.587 106.49-16.841 13.247-50.201 45.072-73.413 44.701-23.208.375-56.579-31.459-73.413-44.701C106.18 199.465 70.425 171.067 48 152.805V112h416zM48 400V214.398c22.914 18.251 55.409 43.862 104.938 82.646 21.857 17.205 60.134 55.186 103.062 54.955 42.717.231 80.509-37.199 103.053-54.947 49.528-38.783 82.032-64.401 104.947-82.653V400H48z"></path></svg>&nbsp;&nbsp;<strong>Reply via email</strong>
          </a>
        </button>
      </div>
    </article>
  </div>

  {% if page.url != "/about/" %}
  <div class="w-full px-8 md:px-0 bg-black dark:bg-blue-900 align-middle mt-10 mb-10">
    <h3 class="text-center text-3xl tracking-normal mb-2 pt-2"><a href="/posts" class="border-transparent text-blue-100 hover:text-blue-200 hover:border-blue-200">Other posts</a></h3>
  {% if nextPost.url %}
    <p class="font-sans text-center mt-2 mb-2 text-xl lg:text-2xl text-white leading-tight tracking-tight">
      <strong>Next</strong>: 
      <a class="border-transparent text-blue-100 hover:text-blue-200 hover:border-blue-200" href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
    </p>
  {% endif %}
  {% if prevPost.url %}
    <p class="font-sans text-center pb-4 mt-2 mb-0 text-xl lg:text-2xl text-white leading-tight tracking-tight">
      <strong>Previous</strong>: 
      <a class="border-transparent text-blue-100 hover:text-blue-200 hover:border-blue-200" href="{{ prevPost.url }}">{{ prevPost.data.title }}</a>
    </p>
  {% else %}
    <p class="p-0 -mt-2 leading-none">&nbsp;</p>
  {% endif %}
  </div>
  {% endif %}
