---
title: singlepost
layout: base
---

<main>
  {% include 'layouts/partials/billboard.html' %}
  {%- if featured_image -%}
    {%- imgc featured_image, featured_image_alt, featured_image_width, featured_image_height -%}
    {%- if featured_image_caption -%}
      <p class="ctr legal sansSerif">{{ featured_image_caption | safe }}</p>
    {%- endif -%}
  {%- else -%}
    <div class="post-line"></div>
  {%- endif %}
  <div class="container-narrower">
    <article class="article">
      {{ content | safe }}
    </article>
  </div>
  {% if page.url != "/about/" %}
  <div class="bg-dark">
    <h3 class="ctr wht prevnextH3"><a href="/posts">Other posts</a></h3>
  {% if nextPost.url %}
    <p class="ctr prevnextP">
      <strong>Next</strong>: 
      <a class="next" href={{ nextPost.url }}>{{ nextPost.data.title }}</a>
    </p>
  {% endif %}
  {% if prevPost.url %}
    <p class="ctr prevnextP">
      <strong>Previous</strong>: 
      <a class="previous" href={{ prevPost.url }}>{{ prevPost.data.title }}</a>
    </p>
  {% endif %}
  </div>
  {% endif %}
