<div class="billboard-div">
  <div class="billboard-title-block">
    <h1 class="billboard-title-text">{{ title }}</h1>
    {% if subtitle %}<h2 class="billboard-subtitle-text">{{ subtitle }}</h2>{% endif %}
    {% if description %}<p class="billboard-description-text">{{ description }}</p>{% endif %}
    <p class="billboard-p-text">
      <strong>{{ page.date | htmlDateString }}</strong>{% if lastmod %}<br /><span style="font-size: 75%;">Last modified {{ lastmod | htmlDateString }}</span>{% endif %}
    </p>
  </div>
</div>
