/* PrismJS 1.17.1
https://prismjs.com/download.html#themes=prism-tomorrow&languages=markup+css+clike+javascript+bash+markup-templating+git+go+graphql+php+markdown+powershell+jsx+yaml+toml&plugins=toolbar */
/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */

 code {
  @apply bg-blue-50 dark:bg-blueGray-700;
}

code[class*="language-"],
pre[class*="language-"] {
  @apply text-blueGray-200 bg-transparent text-base whitespace-pre text-left break-normal leading-normal;
  word-spacing: normal;
  word-wrap: normal;
  tab-size: 4; 
  hyphens: none;

}

/* Code blocks */
pre[class*="language-"] {
  @apply p-4 my-2 mx-0 overflow-auto;
}

:not(pre) > code[class*="language-"], pre[class*="language-"] {
  @apply bg-blueGray-900;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  border-radius: .3em;
  @apply p-[0.1em] whitespace-normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  @apply text-teal-200;
}

.token.punctuation {
  @apply text-blueGray-300;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
  @apply text-red-300;
}

.token.function-name {
  @apply text-sky-400;
}

.token.boolean,
.token.number,
.token.function {
  @apply text-orange-300;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
  @apply text-amber-300;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  @apply text-blue-300;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
  @apply text-blueGray-300;
}

.token.operator,
.token.entity,
.token.url {
  @apply text-amber-400;
}

.token.inserted {
  @apply text-green-400;
}

.token.important,
.token.bold {
  @apply font-bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

div.code-toolbar {
  @apply relative;
}

div.code-toolbar > .toolbar {
@apply absolute opacity-100;
  top: .3em;
  right: .2em;
}

div.code-toolbar:hover > .toolbar {
  @apply opacity-100;
}

/* Separate line b/c rules are thrown out if selector is invalid.
  IE11 and old Edge versions don't support :focus-within. */
div.code-toolbar:focus-within > .toolbar {
  @apply opacity-100;
}

div.code-toolbar > .toolbar .toolbar-item {
  @apply inline-block;
}

div.code-toolbar > .toolbar .toolbar-item span {
  @apply text-white;
}

div.code-toolbar > .toolbar a {
  cursor: pointer;
}

div.code-toolbar > .toolbar button {
@apply bg-transparent border-0 leading-normal overflow-visible p-0;
  color: inherit;
  font: inherit;
  user-select: none; /* for button */
}

div.code-toolbar > .toolbar a,
div.code-toolbar > .toolbar button,
div.code-toolbar > .toolbar span {
@apply bg-black text-white py-0 px-2;
  border-radius: .5em;
  box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);
  font-size: .8em;
}

div.code-toolbar > .toolbar a:hover,
div.code-toolbar > .toolbar a:focus,
div.code-toolbar > .toolbar button:hover,
div.code-toolbar > .toolbar button:focus,
div.code-toolbar > .toolbar span:hover,
div.code-toolbar > .toolbar span:focus {
  @apply no-underline;
  color: inherit;
}

article code {
  font-size: 0.9em;
}