/*
'Condensed Universal Reset'
from https://perishablepress.com/a-killer-collection-of-global-css-reset-styles/
*/

* {
	vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
}