.yellowBox, .blueBox {
  @apply border border-gray-900 border-solid mx-auto my-8 w-full p-8 dark:bg-gray-800 dark:border-gray-500;
}

.yellowBox {
  @apply bg-yellow-100 dark:bg-amber-900;
}

.yellowBox a {
  @apply text-blue-700 border-blue-700 dark:text-blue-100 dark:border-blue-100;
  &:focus, &:active, &:hover {
    @apply dark:text-blue-200 dark:border-blue-200;
  }
}

.blueBox {
  @apply text-sm bg-blue-100 dark:bg-blue-900;
}

.lazypicturecaption, .imgcCaption {
  @apply text-sm p-0 mt-2 leading-snug text-center;
}

.indentAfterLI {
  @apply ml-8;
}

.punctuationExample {
  @apply font-serif text-2xl text-center;
}

.navWhite, .navWhite:visited {
  @apply text-white;
}

.navWhite:focus, .navWhite:active {
  @apply text-gray-400;
}

.text-blue-light {
  @apply text-blue-500;
}

.text-blue-dark { /* for dark mode */
  @apply text-blue-200;
}

.ctr {
  @apply text-center;
}

.legal {
  @apply text-xs;
}

span.caption {
  text-shadow: none; /* keeps link borders from looking "dirty" */
}

span.caption a {
  @apply text-blue-200 border-blue-200;
  &:focus, &:hover, &:active {
    @apply text-blueGray-200 border-blue-100;
  }
}

.imgCover {
  @apply object-cover object-center h-full w-full;
}

.background-hero-title-text {
  text-shadow: 4px 4px 2px #000;
}

.text-nowrap, .text-nobrk {
  @apply whitespace-nowrap;
}
