<!DOCTYPE html>
<html lang="en">
  {% include 'layouts/partials/head.njk' %}
  <body>
    {% include 'layouts/partials/header.njk' %}
    {{ content | safe }}
    {% include 'layouts/partials/footer.njk' %}
    <script src="/assets/js/lazyload_17-3-0.min.js"></script>
    <script>
      var lazyLoadInstance = new LazyLoad({
        threshold: 150,
      })
    </script>    
    <!-- Cloudflare Web Analytics -->
    <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "36941dacad8b45b89336a2226d3fb050"}'></script>
    <!-- End Cloudflare Web Analytics -->
  </body>
</html>
