---
title: BryceWray.com
layout: base
---

  <main>
    <div class="container-home">
      <div class="homeOpen">
        <h1>Welcome to brycewray.com.<br />
        &nbsp;<br />
        Offering&nbsp;observations, opinions, and&nbsp;geekiness since&nbsp;2018.</h1>
      </div>
      <div class="homePost-Div">
        <div class="post-line"></div>
        <h2 class="homePost-Latest">Latest <a href="/posts/">posts</a></h2>
        {% for post in collections.post | reverse %}
          {% if loop.index0 < 3 %}	
          <div>
            <h2 class="homePost-Title"><a href="{{ post.url }}">{{ post.data.title | safe }}</a></h2>
            <p class="homePost-Subtitle">{{ post.data.subtitle | safe }}</p>
            <p class="homePost-Dates">
              <strong><time datetime="{{ post.date | htmlDateString }}">{{ post.date | htmlDateString }}</time></strong>
              {% if post.data.lastmod %}
              <br />Last modified <time datetime="{{ post.date | htmlDateString }}">{{ post.data.lastmod | htmlDateString }}</time>
              {% endif %}
            </p>
            <p class="homePost-Description">
              {{ post.data.description | safe }}
            </p>
          </div>
          {% endif %}
        {% endfor %}
        <p class="topM2"><a href="/posts/"><strong>All {{ collections.post.length }} posts</strong></a> <span class="pokey"><em>(listed five per page)</em></span></p>
      </div>
    </div>
  </main>