    <div class="billboard-div">
      <div class="billboard-title-block">
        <h1 class="billboard-title-text">{{ title | safe }}</h1>
        {% if subtitle %}<h2 class="billboard-subtitle-text">{{ subtitle | safe }}</h2>{% endif %}
        {% if description %}<p class="billboard-description-text">{{ description | safe }}</p>{% endif %}
        <p class="billboard-p-text">
          <strong>{{ page.date | htmlDateString }}</strong><br />{% if lastmod %}<span class="seventyFive">Last modified {{ lastmod | htmlDateString }}</span>{% else %}&nbsp;{% endif %}
        </p>
      </div>
    </div>
