<header class="bg-black dark:bg-blue-800 w-full fixed z-50 ">
  <!-- h/t https://stefvanlooveren.me/blog/tailwind-responsive-header-menu-example -->
  <nav 
    class="relative flex flex-wrap justify-between bg-black dark:bg-blue-800" 
    role="navigation" 
    aria-labelledby="block-main-menu" 
    id="block-main"
  >
    <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">
      <div class="w-full relative flex justify-between lg:w-auto px-4 lg:static lg:block lg:justify-start">
        <a 
          class="inline-block mr-4 py-2 border-0 float-right lg:float-none" 
          href="/" 
          aria-label="Link to home page" 
          title="Link to home page"
        >
          {{ '/src/assets/svg/svgNavIcon.svg' | svgContents | safe }}
        </a>
        <button 
          class="text-white cursor-pointer text-2xl leading-none py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none" 
          type="button" 
          id="nav-toggle" 
          aria-haspopup="true" 
          aria-expanded="false" 
          aria-control="menu" 
          aria-label="Mavigation"
          onclick="toggleNavbar('collapse-navbar')"
        >
          &#9776;
        </button>
      </div>
      <div class="lg:flex flex-grow hidden" id="collapse-navbar">
        <ul class="w-full pr-2 lg:w-auto flex flex-col justify-end lg:flex-row list-none mb-4 lg:mb-0 lg:ml-auto">
          <li class="nav-item my-2 lg:my-0">
            <a 
              class="flex px-2 items-center lg:text-sm lg:uppercase font-bold leading-snug hover:opacity-75 border-0 text-white focus:text-gray-100 active:text-gray-100 hover:text-gray-100 float-right lg:float-none" 
              href="/about/" 
              title="About me" 
              aria-label="About me"
            >
              <span class="ml-2">About</span>
            </a>
          </li>
          {%- for post in collections.post | reverse -%}
            {%- if loop.index0 < 1 -%}
              <li class="nav-item my-2 lg:my-0">
                <a 
                  class="flex px-2 items-center lg:text-sm lg:uppercase font-bold leading-snug hover:opacity-75 border-0 text-white focus:text-gray-100 active:text-gray-100 hover:text-gray-100 float-right lg:float-none" 
                  href="{{ post.url }}" 
                  title="Newest post" 
                  aria-label="Newest post">
                  <span class="ml-2">Newest post</span>
                </a>
              </li>
            {%- endif -%}
          {%- endfor -%}
          <li class="nav-item my-2 lg:my-0">
            <a 
              class="flex px-2 items-center lg:text-sm lg:uppercase font-bold leading-snug hover:opacity-75 border-0 text-white focus:text-gray-100 active:text-gray-100 hover:text-gray-100 float-right lg:float-none" 
              href="/posts/" 
              title="All posts" 
              aria-label="All posts"
            >
              <span class="ml-2">All posts</span>
            </a>
          </li>
          <li class="nav-item my-2 lg:my-0">
            <a 
              class="flex px-2 items-center lg:text-sm lg:uppercase font-bold leading-snug hover:opacity-75 border-0 text-white focus:text-gray-100 active:text-gray-100 hover:text-gray-100 float-right lg:float-none" 
              href="/privacy/" 
              title="Privacy policy" 
              aria-label="All posts"
            >
              <span class="ml-2">Privacy</span>
            </a>
          </li>
          <li class="nav-item my-2 lg:my-0">
            <a 
              class="flex px-2 items-center lg:text-sm lg:uppercase font-bold leading-snug hover:opacity-75 border-0 text-white focus:text-gray-100 active:text-gray-100 hover:text-gray-100 float-right lg:float-none" 
              href="/contact/" 
              title="Contact me" 
              aria-label="Contact me"
            >
              <span class="ml-2">Contact</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>