{% set socialImg = "https://res.cloudinary.com/brycewray-com/image/upload/c_fill,w_1024,h_512,q_auto,f_auto,x_0,z_1/" %}
{% set fallbackImg = "typewriter-monochrome_2242164_6260x4374.jpg" %}
{% set eleventyVersion = pkg.devDependencies['@11ty/eleventy'] | replace("^", "") %}
{% set eleventyEnv = projEnv.environment %}

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="generator" content="Eleventy v{{ eleventyVersion }}" />
        
    {% if page.url === "/" %}
      <title>{{ siteparams.siteTitle }}</title>
      <meta property="og:title" content="{{ siteparams.siteTitle }}" />
      <link rel="canonical" href="{{ siteparams.siteURLforOG }}" />
    {% else %}
      <title>{{ title }} | {{ siteparams.siteTitle }}</title>
      <meta property="og:title" content="{{ title }} | {{ siteparams.siteTitle }}" />
      <link rel="canonical" href="{{ siteparams.siteURLforOG }}{{ page.url }}" />
    {% endif %}

    <meta property="og:type" content="website" />

    <meta property="og:image" content="{{ socialImg }}{% if featured_image %}{{ featured_image }}{% else %}{{ fallbackImg }}{% endif %}" />

    <meta property="og:image:width" content="1024" />
    <meta property="og:image:height" content="512" />

    {% if page.url === "/" %}
      <meta name="description" content="{{ siteparams.siteDescription }}" />
      <meta property="og:description" content="{{ siteparams.siteDescription }}" />
      <meta property="og:url" content = "{{ siteparams.siteURLforOG }}/" />
      <link rel="canonical" href="{{ siteparams.siteURLforOG }}/" />
    {% else %}
      <meta name="description" content="{{ description }}" />
      <meta property="og:description" content="{{ description }}" />
      <meta property="og:url" content="{{ siteparams.siteURLforOG }}{{ page.url }}" />
      <link rel="canonical" href="{{ siteparams.siteURLforOG }}{{ page.url }}" />
    {% endif %}

    <!-- Twitter meta -->
    <meta name="twitter:site" content="@BryceWrayTX">
    <meta name="twitter:creator" content="@BryceWrayTX">
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="{{ socialImg }}{% if featured_image %}{{ featured_image }}{% else %}{{ fallbackImg }}{% endif %}" />
    {% if page.url === "/" %}
      <meta name="twitter:description" content="{{ siteparams.siteDescription }}" />
      <meta name="twitter:title" content="{{ siteparams.siteTitle }}" />
    {% else %}
      <meta name="twitter:description" content="{{ description }}" />
      <meta name="twitter:title" content="{{ title }}" />
    {% endif %}

    <!-- discover feeds -->
    <link rel="alternate" title="BryceWray.com - JSON" type="application/feed+json" href="https://www.brycewray.com/index.json" />
    <link rel="alternate" title="BryceWray.com - RSS" type="application/rss+xml" href="https://www.brycewray.com/index.xml" />


    <!-- **** BEGINNING, favicons **** -->

    <!-- generics -->
    <link rel="icon" type="image/svg+xml" href="/assets/svg/svgNavIcon_reduced.svg" />
    <link rel="alternate icon" href="/images/icons/favicon-32x32.png" />
    <link rel="icon" type="image/png" href="/images/icons/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="/images/icons/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/images/icons/favicon-57x57.png" sizes="57x57" />
    <link rel="icon" type="image/png" href="/images/icons/favicon-96x96.png" sizes="96x96" />
    <link rel="mask-icon" href="/assets/svg/svgNavIcon_reduced_black.svg" /><!-- Safari 9.0+ -->

    <!-- iOS -->
    <link rel="apple-touch-icon" sizes="120x120" href="/images/icons/apple-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/images/icons/apple-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="167x167" href="/images/icons/apple-touch-icon-167x167.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-icon-180x180.png" />
    <link rel="apple-touch-icon" sizes="1024x1024" href="/images/icons/apple-icon-1024x1024.png" />

    <!-- Android -->
    <link rel="shortcut icon" sizes="196x196" href="/images/icons/favicon-196x196.png" />

    <!-- Windows 8, IE 10 -->
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="/images/ms-icon-144x144.png" />

    <!-- Windows 8.1 and up, IE 11 -->
    <meta name="msapplication-config" content="/browserconfig.xml" />

    <!-- **** CONCLUSION, favicons **** -->

    <link rel="preload" href="/assets/fonts/Inter-3-18_subset_2021-03-31.woff2" crossorigin="anonymous" as="font" type="font/woff2" />
    
    {% if eleventyEnv == "production" %}
      <link rel="preload" href="/css/{{ csshash.indexCSS }}" as="style" />
      <link rel="stylesheet" href="/css/{{ csshash.indexCSS }}" type="text/css" />
    {% else %}
      <link rel="stylesheet" href="/css/index.css" type="text/css" />
    {% endif %}

    <!-- Fathom - beautiful, simple website analytics -->
    <script src="https://boa.brycewray.com/script.js" site="CSERHYIA" included-domains="brycewray.com,www.brycewray.com" defer></script>
    <!-- / Fathom -->

    <!-- https://developer.mozilla.org/en-US/docs/Web/Performance/dns-prefetch#best_practices -->
    <link rel="dns-prefetch" href="https://res.cloudinary.com" />
    <link rel="preconnect" href="https://res.cloudinary.com" crossorigin />

  </head>
