<div class="searchDiv">
  <form method="POST" class="searchForm" action="https://www.startpage.com/sp/search" role="search" name="searchForm">
    <label for="searchFormQuery" class="sr-only search-form_label"><strong>Search this site</strong> on <a href="https://www.startpage.com" target="_blank" rel="noopener">StartPage</a> for: </label>
    <input class="searchFormQuery" type="text" name="query" id="searchFormQuery" value="site:brycewray.com ">
    <button class="searchFormButton" type="submit"><strong>Submit</strong></button>
  </form>
</div>