---
permalink: /index.xml
eleventyExcludeFromCollections: true
# No space allowed underneath the divider (breaks the XML)
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
	<title>{{ siteparams.siteTitle }}</title>
	<subtitle>{{ siteparams.feed.subtitle }}</subtitle>
	<link href="{{ siteparams.siteURLforOG }}/index.xml" rel="self"/>
	<link href="{{ siteparams.siteURLforOG }}"/>
	<updated>{{ collections.post | rssLastUpdatedDate }}</updated>
	<id>{{ siteparams.feed.id }}</id>
	<author>
		<name>{{ siteparams.siteAuthor }}</name>
	</author>
	{%- for post in collections.post | reverse %}
	{% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
	<entry>
		<title>{{ post.data.title }} | {{ post.data.subtitle }} </title>
    <description>{{ post.data.description }}</description>
		<link href="{{ absolutePostUrl }}"/>
		<link href="{{ absolutePostUrl }}" rel="alternate" type="text/html" />
		<published>{{ post.date | rssDate }}</published>
    <updated>{% if post.data.lastmod %}{{ post.data.lastmod | rssDate }}{% else %}{{ post.date | rssDate }}{% endif %}</updated>
		<id>{{ absolutePostUrl }}</id>
    <content type="html">{{ post.templateContent }}</content>
	</entry>
	{%- endfor %}
</feed>