---
permalink: /index.xml
eleventyExcludeFromCollections: true
# No space allowed underneath the divider (breaks the XML)
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
	<title>{{ siteparams.siteTitle }}</title>
	<subtitle>{{ siteparams.feed.subtitle }}</subtitle>
	<link href="{{ siteparams.siteURLforOG }}/index.xml" rel="self"/>
	<link href="{{ siteparams.siteURLforOG }}"/>
	<updated>{{ collections.post | rssLastUpdatedDate }}</updated>
	<id>{{ siteparams.feed.id }}</id>
	<author>
		<name>{{ siteparams.siteAuthor }}</name>
	</author>
	{%- for post in collections.post | reverse %}
		{% if loop.index0 < 10 %}
			{% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
			<entry>
				<title>{{ post.data.title }} | {{ post.data.subtitle }} </title>
				<link href="{{ absolutePostUrl }}"/>
				<updated>{{ post.date | rssDate }}</updated>
				<id>{{ absolutePostUrl }}</id>
				<description>
					{{ post.data.description }}
				</description>
			</entry>
		{% endif %}
	{%- endfor %}
</feed>