---json
{
  "permalink": "/index.json",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "BryceWray.com",
    "description": "brycewray.com — Observations, opinions, geekery.",
    "url": "https://www.brycewray.com/",
    "feedUrl": "https://www.brycewray.com/index.json",
    "authors": {
      "name": "Bryce Wray",
      "url": "https://www.brycewray.com/about/"
    }
  }
}
---
{
  "version": "https://jsonfeed.org/version/1.1",
  "title": "{{ metadata.title }}",
  "home_page_url": "{{ metadata.url }}",
  "feed_url": "{{ metadata.feedUrl }}",
  "description": "{{ metadata.description }}",
  "items": [
    {% for post in collections.posts | reverse %}
    {%- set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset -%}
    {
      "id": "{{ absolutePostUrl }}",
      "title": "{{ post.data.title }} | {{ post.data.subtitle }}",
      "url": "{{ absolutePostUrl }}",
      "date_published": "{{ post.date | dateFromRFC2822 }}",
      "summary": "{{ post.data.description }}",
      "content_html": {% if post.templateContent %}{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) | dump | safe }}{% else %}""{% endif %}
    }{% if not loop.last %},{% endif %}
    {% endfor %}]
}