---
title: privacy.njk
layout: layouts/_default/base.njk
---

<main>

  {% include 'layouts/partials/billboard.njk' %}

  <div class="container-narrower">
    <article>
      <div class="post-line"></div>
      {{ content | safe }}
    </article>
  </div>

</main>